# 
ATC_ESP_program/.pio
# VS code own
ATC_ESP_program/.vscode

# node modules
**/node_modules/

# Circuit backup files
circuits/RemoteQuarium_pcb_design/RemoteQuarium_pcb_design-backups

# config and passwords
/php/DAO/Config/DBConfig.php

# pics
pics/*
